doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CReaTive arena
        block style 
        block scripts
    body
        div.box
            nav#navbar.top 
                div#nav-left 
                    h2#head-main CREATIVE arena

            
                ul#nav-right
                    li #[a(href="/") HOME]
                    li #[a(href="/") FIND TALENT]  
                    li #[a(href="/contact") JOB]

                    div.logo 
                        a(href="https://www.facebook.com/")
                            img(src="../static/icon1.png")
                        a(href="https://www.facebook.com/")
                            img(src="../static/icon2.png")  
                        a(href="https://www.facebook.com/")
                            img(src="../static/icon3.png")
            block content
            footer#footer 
                p Copyright 2021 creative-arena.com. All Rigths | Reserved
