extends base.pug


block style 
    style
      include ../static/style.css

block content
    section#main1 
        div.head 
            h1.main-head FRESH TALENT

            h1.main-head1 +

            h1.main-head TOP  

            h1.main-head EMPLOYERS  
                
            h3 create your future with us
                

            div.btn 
                button.bt Fine Talent 
                button.bt1 Find a JOB 


    section#main2 
        div.log-box 
            div.bx 
                img(src="../static/gif1.gif")
            h3 GRAPHIC DESIGN

        div.log-box 
            div.bx 
                img(src="../static/gif2.gif")
            h3 COPYWRITERS 

        div.log-box 
            div.bx 
                img(src="../static/gif3.gif")
            h3 CREATIVE DESIGN 

        div.log-box 
            div.bx 
                img(src="../static/gif4.gif")
            h3 CLIENT DESK 

    section#main3 
        p Creative design is computer generated imagery and digital animation created to visualize a potential product. The creative design includes designs that are unique, effective and memorable. It involves going out of your way to make it unique. It can involve a handmade custom font, drawing a logo or making different iconography to help your client stand out in their industry. Creative design is often discounted because it is not defined correctly. Companies think that creative designing is simply about hiring a graphic designer. Companies tend to treat creative design as synonymous with visual design. Creative design is not only about visual design. Visual design is an important element in creative design but is only one element. The creative design also depends on the effective use of words and representing action and motion. The creative design gets the attention of your customers. It shows things in a brand new way. Also, it helps customers understand what they need. Customers could discover how they can choose a better option to meet that need. Furthermore, interesting content creates customer motivation. The benefits of creative design are related to what makes it good in the eyes of customers. Building a web site is about building a site visitors expect you to have. Both creative and functional web design have many advantages. However, if you follow only the advantages of one, you could miss a lot of necessary characteristics of another. Because of that, it is important to strike the right balance. The right balance between creative and functional web design catches the attention of your users. It also encourages them to spend time on your website. Having a functional site that gives the user a satisfying experience is what converts.  You can turn your website into a profit-generating machine for your business. Most web designers often concern about how the site looks and forget how it functions. Build a site with them in mind that is perfectly functional but still looks fantastic.
        